* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Spartan', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(51, 51, 51, 0.245);
    color: #fff;
    padding: 1rem;
    text-align: center;
    backdrop-filter: blur(1px);
    border-bottom: 1px solid rgb(255 255 255 / 50%);
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    outline: none; 
}

nav ul li a:hover,
nav ul li a:focus {
    color: #b79f1a;
    text-decoration: none;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .texttest {
    margin-top: 13rem;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.971);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;

    @media (max-width: 764px) {
        margin-top: 2rem;
    }
}

.hero button {
    margin-top: 2rem;
    background-color: #b79f1a;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #d8b906;
}

.hero button a {
    color: #fff;
    text-decoration: none;
}

.backvid {
    position: absolute;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .backvid {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .backvid {
        width: auto;
        height: 100%;
    }
}

.photos-title {
    text-align: center;
    margin: 20px;
}

#photos .container {
    max-width: 800px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        max-width: 800px;
        margin-bottom: 8rem;
    }
}

.fixed-size-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#articles {
    background-color: #e4e4e4;
    box-sizing: content-box;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

#articles h2 {
    font-size: 2rem;
    text-align: center;
}

#articles p {
    text-align: center;
    margin-bottom: 1.4rem;
}

.article-grid {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.article-card {
    position: relative;
    background-color: #efefef;
    border: 1px solid #d1d5db;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition-duration: 100ms;
    border-radius: 0.5rem;
    padding: 0;
    padding-bottom: 1rem;
}

.article-card:hover {
    transform: scale(1.05);
    transition-duration: 100ms;
}

.article-card h3 {
    color: #0077ff;
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.article-card p {
    font-size: 0.8rem;
    line-height: 1.6;
    padding: 1.2rem;
}

.article-card img {
    display: block;
    max-width: 100%;
    border-radius: 0.5rem;
    height: 320px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .slides-container {
        height: 40vh;
    }

    .slide {
        max-height: 200px;
    }
}

#newsletter {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #041e42;
}

#newsletter .newstext {
    padding-top: 23px;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @media (max-width: 768px) {
        flex-basis: 70%;
    }
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

#about {
    background-color: #044222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.contact-info p,
.social-links ul li a {
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-info p:last-child,
.social-links ul li:last-child a {
    margin-bottom: 0;
}

.social-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links ul li {
    margin-right: 15px;
}

.social-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.social-links ul li a:hover {
    color: #b79f1a;
}

.copyright {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

#videos {
    padding: 40px 0;
    background-color: #f3f3f3;
    text-align: center;
}

#videos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.video-card {
    padding: 20px;
}
